html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FFFDFA;
}

a {
  color: #377e56;
}

* {
  box-sizing: border-box;
}


#gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,94,0,1) 0%, rgba(255,153,102,0) 60%);
  pointer-events: none;
  transition: transform 0.1s ease-out;
}